# Python
*.pyc
*.pyo
*.pyd
__pycache__/
*.swp

# Django
*.log
db.sqlite3
*.pot
*.py[co]
*.sqlite3
*.sqlite3-journal

# Environments
.env
soap_env/
venv/
env/
*.env

# IDEs and Editors
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Byte-compiled / optimized / DLL files
*.py[cod]
*$py.class

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg

# Testing
.coverage
.tox/
.nox/
.pytest_cache/
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# Static files
staticfiles/
static/

# Media files
media/

# Local settings
# local_settings.py

# Celery beat schedule file
celerybeat-schedule

# Django migrations
*.pyc
*.pyo
*.pyd
*.sqlite3
*.sqlite3-journal
migrations/

images/1000001744.jpg
images/1000002140.jpg
images/1000002286.jpg
images/1000002388.jpg
images/1000002410.jpg
images/1000002592.heic
images/1000002662.heic
images/1000002727.jpg
images/1000002775.jpg
images/1000002862.heic
images/1000002921.heic
images/1000003492.jpg
images/1000003594.jpg
images/1000003598.jpg
images/1000003871.jpg
images/1000003875.jpg
images/1000003877.jpg
images/1000003912.jpg
images/1000004109.jpg
images/1000004402.jpg
api/-- SQLite.sql
